.contact {
  background: $medium-purple image-url('contact-bg.png') no-repeat top left;
  padding: 140px 0 130px;
  text-align: center;
  box-sizing: border-box;
}


.contact__main-heading {
  color: $white;
  font-size: 36px;
  border-bottom: 2px solid $white;
  max-width: 640px;
  width: 90%;
  padding-bottom: 40px;
  margin: 0 auto 1.3em;
}

.contact__form-container {
  background: $white;
  padding: 30px;
  margin: 0 auto 45px;
  width: 80%;
  max-width: 780px;
  input {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.8%;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
  textarea {
    margin-bottom: 0;
  }
}


