footer {
  padding: 35px 0;
}


.footer__copy {
  float: left;

  @media (max-width: $small-screen) {
    float: none;
    text-align: center;
  }
}

.footer-nav {
  float: right;
  @media (max-width: $small-screen) {
    display: none;
  }
}
