.team {
  background: $red image_url('team-bg.png') no-repeat top right;
  padding: 150px 0;
  text-align: center;
}

.team__members {
 @include outer-container;
}

.team__main-heading {
  color: $white;
  font-size: 36px;
  border-bottom: 2px solid $white;
  max-width: 640px;
  width: 90%;
  padding-bottom: 40px;
  margin: 0 auto 1.3em;
}

.members {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.person {
  padding-top: 65px;
  display: inline-block;
  color: $red;
  background: #fff;
  max-width: 245px;
  height: 240px;
  width: 245px;
  border-radius: 50%;
  text-align: center;
  margin-left: 45px;
  margin-right: 45px;
  &:first-child {
    margin-left: 0;
    @media (max-width: $small-screen) {
      margin-left: 0;
    }
  }

  &:nth-child(2n) {
    @media (max-width: $small-screen) {
      margin-left: 0;
    }
  }

  &:last-child {
    margin-right: 0;

    @media (max-width: $larger-screen) {
      margin-left: 0;
    }

  }
}



.person__title {
  font-size: 23px;
  font-weight: 100;
  font-style: italic;
  text-transform: uppercase;
}


.person__name {
  font-size: 35px;
  font-weight: 300;
  font-style: italic;
}




